.sword {
    width: 32px;
    height: 32px;
    background-image: url('../images/icons-assets.png');
    background-position: -32px -160px;
    background-repeat: no-repeat;
}

.staff2 {
    width: 32px;
    height: 32px;
    background-image: url('../images/icons-assets.png');
    background-position: -288px -192px;
    background-repeat: no-repeat;
}

.start-image {
    width: 256px;
    height: 256px;
    background-image: url('../images/icons-assets.png');
    background-position: -512px -1536px;
    background-repeat: no-repeat;
    background-size: 4096px 6936px;
}